### Project files to ignore
.idea
__pycache__
dist
**/*.DS_Store
~$*
### Raw data files
temp_data/
**.pqt
**.parquet
**/*.pqt/
**/*.tfdata/
**/*.tfrecords/
.tfrecords
**/*.mp4

**/*.egg-info/
#Key files
**/*.key
**/*.out

**/.ipynb_checkpoints/
